<!--{% extends 'base.html' %}
{% block content%}
{% if category_posts %}
<h1> {{cats}}</h1>

{% for post in category_posts %}

<ul>


    <li>
        <a href="{% url 'article-detail' post.pk %} ">

            {{post.title}}
        </a> {{post.category}} - {{post.author.first_name}} {{post.author.last_name}} - {{post.post_date}}

        {% if user.is_authenticated %}
        <small><a href="{% url 'update-post' post.pk %}"> - (Edit)</a> </small>
        <p> fezfezfez</p> fezfzefz
        <small><a href="{% url 'delete-post' post.pk %}">(Delete)</a> </small>
        {% endif %}
        <br /> {{post.body|slice:":200" |safe}}


    </li>
</ul>
    {% endfor %}

{%else%}
<h2> sorry this page does not exist...</h2>
{%endif%}

{% endblock %}-->


